<header>
	<h1>The Roomex Form</h1>
	<img src="../assets/icons/github.svg" mat-card-avatar width="26px" alt="">
<p>
  <mat-toolbar color="primary">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>The Roomex Form</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>github-box</mat-icon>
  </button>
  <button mat-icon-button>
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>
</header>

<main>
	<router-outlet></router-outlet>
</main>