<form [formGroup]="myForm" (submit)="submitForm()">
	<div>
		<label>Personal info</label>
		<mat-form-field>
			<input matInput formControlName="name" autocomplete="off" placeholder="Name">
			<mat-error *ngIf="name?.errors?.required && name?.touched">Name is required</mat-error>
			<mat-error *ngIf="name?.errors?.pattern"> Name cannot contain number </mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput formControlName="userName" autocomplete="off" placeholder="Email">
			<mat-error *ngIf="userName?.errors"> Not valid email </mat-error>
		</mat-form-field>
	</div>

	<div>
		<label>Location Info</label>
		<mat-form-field>
			<mat-select matInput placeholder="Select Country" formControlName="country" type="text">
				<mat-option *ngFor="let country of countryOptions" [value]="country">{{country}}</mat-option>
			</mat-select>
			<mat-error *ngIf="country?.errors"> Please select a country </mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput formControlName="postCode" autocomplete="off" placeholder="Post Code">
		</mat-form-field>
		<small class="error" *ngIf="myForm?.errors?.falsePostCode">Post Code is not UK valid</small>
		<small class="error" *ngIf="myForm?.errors?.emptyPostCode">Post Code is required for UK</small>
	</div>

	<div>
		<label>Favorite Movie</label>
		<mat-form-field class="example-full-width" appearance="fill">
			<input type="text" placeholder="Start typing..." aria-label="Movie" matInput formControlName="favMovie"
				[matAutocomplete]="auto">
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
				<mat-option *ngFor="let movie of movieList" [value]="movie">
					{{movie}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</div>
	<button mat-raised-button color="primary" type="submit">Submit!</button>
</form>