<form [formGroup]="myForm" (submit)="submitForm()">
	<div>
		<label>Personal info</label>
		<mat-form-field>
			<input matInput formControlName="name" autocomplete="off" placeholder="Name">
			<mat-error *ngIf="name?.errors?.required && name?.touched">Name is required</mat-error>
			<mat-error *ngIf="name?.errors?.pattern"> Name cannot contain number </mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput formControlName="userName" autocomplete="off" placeholder="Email">
			<mat-error *ngIf="userName?.errors"> Not valid email </mat-error>
		</mat-form-field>
	</div>

	<div>
		<label>Location Info</label>
		<mat-form-field>
			<mat-select matInput name="country" ngDefaultControl placeholder="Select Country" formControlName="country"
				type="text">
				<mat-option *ngFor="let country of countryOptions" [value]="country">{{country}}</mat-option>
			</mat-select>
			<mat-error *ngIf="country?.errors"> Please select a country </mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput formControlName="postCode" autocomplete="off" placeholder="Post Code">
		</mat-form-field>
		<small class="error" *ngIf="myForm?.errors?.falsePostCode">This is not a valid UK Post Code</small>
		<small class="error" *ngIf="myForm?.errors?.emptyPostCode">Post Code is required for UK</small>
	</div>

	<div>
		<label>Favorite Movie</label>
		<mat-form-field appearance="fill">
			<input
				matInput
				placeholder="Search Movie (min 3 characters)"
				[value]="favMovie"
				[matAutocomplete]="auto"
      	[formControl]="favMovieCtrl"
			>
			<button *ngIf="favMovie" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
				<mat-icon>close</mat-icon>
			</button>
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelected($event)" [panelWidth]="400" [displayWith]="displayWith">
				<mat-option *ngIf="isLoading" class="is-loading">Loading...⏳</mat-option>
				<ng-container *ngIf="!isLoading">
					<mat-option *ngFor="let movie of filteredMovies" [value]="movie">
						<span><b>{{movie.title}}</b> ({{movie.year}})</span>
					</mat-option>
				</ng-container>
			</mat-autocomplete>
		</mat-form-field>
		<ng-container *ngIf="errorMsg; else elseTemplate">
			{{errorMsg}}
		</ng-container>
		<ng-template #elseTemplate>
			<div class="movie-details" *ngIf="favMovie?.title">
				<div>
					<img [src]="favMovie?.poster" style="height: 250px;" />
				</div>
				<div>
					<h3>Selected Value: {{favMovie?.title}}</h3>
					<ul>
						<li>Year: {{favMovie?.year}}</li>
					</ul>
				</div>
			</div>
		</ng-template>
	</div>
	<button mat-raised-button color="primary" type="submit">Submit!</button>
</form>